.site-header {
    position: fixed;
    background-color: white;
    top: 0%;
    left: 0%;
    width: 100%;
}

.site-header__leader {
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header__leader a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.site-header__menu {
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 40px;
}

.home-body {
    margin-top: 82px;
}