.site-header {
    position: fixed;
    background-color: white;
    top: 0%;
    left: 0%;
    width: 100%;
}

.site-header__leader {
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header__leader a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.site-header__menu {
    border-bottom: 1px solid rgb(204, 204, 204);
    height: 40px;
}

.site-header__menu > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 1rem;
    padding: 0px;
    height: 100%;
}

.site-header__menu > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 90%;
    padding: 0px 5px;
    border-radius: 5%;
}

.site-header__menu > ul > li:hover {
    background-color: rgb(247, 247, 247);
}

.site-header__menu > ul li a {
    text-decoration: none;
    color: black;
}

.mega-menu {
    position: absolute;
    top: 80px;
    left: 0%;
    background-color: white;
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.1);

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.site-header__menu > ul > li:hover > .mega-menu {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.mega-menu_row-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

.mega-menu__row {
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 100%;
    padding: 0px 1rem;
    border-right: 1px solid rgb(204, 204, 204);
}

.mega-menu__row:last-child {
    border-right: none;
}

.mega-menu__row > header {
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.mega-menu__links {
    padding: 0px;
}

.mega-menu__links > li {
    padding: 0px;
    list-style: none;
}

.home-body {
    margin-top: 82px;
}
